<script type="text/javascript" src="knjizice/js/koda.js"></script>
<script type="text/javascript" src="knjizice/js/koda2.js"></script>


var ehr1 = generirajPodatke(1);
var ehr2 = generirajPodatke(2);
var ehr3 = generirajPodatke(3);